// Main Mixins
@mixin border-gradient($dir, $from, $to, $width) {
  border-left: $width solid $from;
  border-right: $width solid $to;

  // Needed for both the top and bottom borders
  background-image: -webkit-linear-gradient($dir, $from, $to),
  -webkit-linear-gradient($dir, $from, $to);
  background-size: 100% $width;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin font-gradient($from, $to, $dir) {
  background: -webkit-linear-gradient($dir, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin basicBook() {
  a {
    color: inherit;
    text-decoration: none;

    &.blue span {
      @include font-gradient($blue, $purple, left);
    }

    &.green span {
      @include font-gradient($yellow, $teal, left);
    }
  }

  &.box-border {
    border: 0px;

    .btn {
      display: inline-block;
      margin: 0;
      padding: 3em 3em;
      background: transparent;
      border-radius: 10px;
      font-weight: 400;
      text-align: center;
      align-self: center;

      &.blue {
        align-self: stretch;
      }
    }

    .green {
      @include border-gradient(left, $yellow, $teal, 2px);
    }

    .blue {
      @include border-gradient(left, $blue, $purple, 2px);
    }
  }
}

@mixin basicChapter() {

  // ul
  width: 100%;
  &.box-border {
    li {
      &.green {
        @include border-gradient(left, $yellow, $teal, 2px);
      }

      &.blue {
        @include border-gradient(left, $blue, $purple, 2px);
      }
    }
  }

  li[id^='chapter'] {
    width: 100%;

    span {
      width: 100%;
      display: inline-block;
    }
  }

}